/*
	Common for all
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: white;
}
.nav {
  display: block;
  float: none;
}
.nav li {
  font-family: Arial, sans-serif;
  letter-spacing: 0px;
  float: none;
}
.nav #nav-agende {
  background-color: white;
  margin-left: 20px;
}
.nav #nav-agende span {
  color: black;
  text-shadow: none;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  width: 100%;
  background-image: url('/images/quartos/fundo.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  z-index: -1;
}
#info {
  background-color: #eee;
  padding: 50px;
}
/*
	Smartphones and  (portrait and landscape) -----------
*/
@media all and (max-width: 1024px) {
  .menu-topo-responsivo {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 100vw;
    min-height: 100px;
    text-align: center;
    background-color: #222;
  }
  .menu-topo-responsivo img {
    width: 50%;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
  }
  #info {
    margin-top: 100px;
  }
  .menu-principal,
  .footer {
    display: none;
  }
}
/*
	Computers -----------
*/
@media all and (min-width: 1025px) {
  .menu-topo-responsivo {
    display: none;
  }
  .menu-principal {
    z-index: 10;
    position: absolute;
    margin-top: 30px;
    width: 100%;
    background-color: transparent;
  }
  .menu-principal .nav {
    margin-top: 30px;
    position: relative;
    width: 100%;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .menu-principal .nav li {
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    margin: 0 0.9vw 0 0;
    padding: 0;
  }
  .menu-principal .nav li a {
    border: none !important;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  .menu-principal .nav li a:hover {
    background-color: rgba(250, 250, 250, 0.3);
    border: 0;
  }
  .menu-principal .nav .active a {
    background: inherit !important;
  }
  .menu-principal .nav .active a span {
    border-bottom: 3px solid rgba(250, 250, 250, 0.8) !important;
  }
  .menu-principal .nav .active a:hover {
    color: white !important;
    background-color: rgba(250, 250, 250, 0.3) !important;
  }
  .menu-principal .nav .navbar-brand {
    margin-right: 0;
  }
  .menu-principal .nav .navbar-brand a:hover {
    background-color: transparent;
  }
  .menu-principal .nav .navbar-brand img {
    height: 50px;
    width: auto;
  }
  #info {
    margin-top: 300px;
    margin-bottom: 100px;
  }
  .footer {
    background-color: #7b89a0;
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .footer .footer-sessao {
    min-height: 50%;
  }
  .footer .footer-sessao h1 {
    margin-bottom: 20px;
    color: #ccc;
    margin-top: 0;
  }
  .footer #footer-qualificacoes img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
  }
  .footer #footer-navegar {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 3vw 3vw 3vw;
  }
  .footer #footer-navegar .footer-navegar-col {
    padding-left: 0;
  }
  .footer #footer-navegar .footer-navegar-col ul {
    padding-left: 0;
    list-style: none;
  }
  .footer #footer-navegar .footer-navegar-col ul li {
    padding-bottom: 5px;
  }
  .footer #footer-navegar .footer-navegar-col ul li a {
    color: inherit;
  }
  .footer #footer-navegar .footer-navegar-col ul li a:hover {
    text-decoration: inherit;
    color: #666;
  }
  .footer #footer-contato {
    padding-left: 3vw;
  }
}
