/*
	Common for all
*/
#background {
  background-image: url('/images/localizacao/fundo.jpg');
}
#info {
  padding: 0;
  padding-bottom: 5px;
}
#info img {
  height: 250px;
  width: 250px;
  margin: 5px 0 0 5px;
}
/*
	Smartphones and  (portrait and landscape) -----------
*/
/*
	Computers -----------
*/
