/*
	Common for all
*/
#myCarousel .carousel-control.left,
#myCarousel .carousel-control.right {
  background-image: none;
}
#apresentacao {
  background-color: white;
}
#apresentacao #texto h1 {
  font-size: 32px;
  color: #666;
  margin-bottom: 30px;
}
#apresentacao #texto p {
  font-size: 17px;
}
#apresentacao #texto a {
  background-color: #444;
}
#apresentacao #texto a span {
  color: #ddd;
}
#apresentacao #texto a:hover {
  background-color: maroon;
}
#apresentacao #texto a:hover span {
  color: white;
}
/*
	Smartphones and  (portrait and landscape) -----------
*/
@media all and (max-width: 1024px) {
  .container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .menu-principal {
    display: initial;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 3;
    order: 3;
    text-align: left;
    width: 100vw;
  }
  .menu-principal li {
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  .menu-principal li:hover {
    color: #999;
  }
  .menu-principal li a {
    color: black;
  }
  .menu-principal .navbar-brand {
    display: none;
  }
  #myCarousel {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  #apresentacao {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 4;
    order: 4;
    width: 100vw;
    background-color: white;
  }
  #quadros,
  #eventos {
    display: none;
  }
}
/*
	Computers -----------
*/
@media all and (min-width: 1025px) {
  #myCarousel {
    background-color: black;
  }
  #myCarousel img {
    height: auto;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  #apresentacao {
    min-height: 400px;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  #apresentacao #texto {
    padding-left: 10%;
    padding-right: 10%;
  }
  #apresentacao #apresentacao-imagem {
    min-height: 400px;
    height: 60vh;
    max-height: 600px;
    background-image: url('/images/rocks/rock01.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
  }
  #quadros {
    background-color: black;
  }
  #quadros .nopadding {
    padding: 0 !important;
  }
  #quadros img {
    width: 100%;
    height: auto;
  }
  #quadros .quadro {
    position: relative;
  }
  #quadros .quadro h2 {
    position: absolute;
    top: 0;
    padding-top: 42%;
    font-size: 24px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
    text-align: center;
    width: 100%;
  }
  #quadros .quadro h2 span {
    font-size: 16px;
  }
  #quadros .quadro:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  #eventos {
    background: #eee;
    margin-bottom: 80px;
    margin-top: 80px;
  }
  #eventos .evento {
    text-align: center;
  }
  #eventos .evento h2 {
    font-size: 22px;
    color: #666;
    border-bottom: 15px;
  }
  #eventos .evento img {
    display: inline;
    max-width: 100%;
    height: auto;
  }
  #eventos .evento a {
    display: inline-block;
    margin: auto;
    z-index: 1000;
    background-color: black;
    border: 0;
    position: relative;
    top: -20px;
  }
  #eventos .evento a span {
    font-size: 14px;
    color: white;
  }
  #eventos .evento a:hover {
    background-color: maroon;
  }
  #eventos .evento a:hover span {
    color: white;
  }
}
