/*
	Common for all
*/
#background {
  background-image: url('/images/localizacao/fundo.jpg');
}
#info #foto-endereco #foto img {
  max-width: 100%;
}
#info #mapa {
  margin-top: 50px;
  border: 1px solid black;
}
#info #mapa #map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
/*
	Smartphones and  (portrait and landscape) -----------
*/
/*
	Computers -----------
*/
