/*
	Common for all
*/
#info {
  text-align: center;
  padding: 50px 30px;
  max-width: 1200px;
}
#info h1 {
  position: relative;
  top: -20px;
}
#info .quarto-miniatura {
  margin: 10px 10px;
  display: inline-block;
  background-color: white;
  height: 250px;
  width: 350px;
}
#info .quarto-miniatura a {
  color: black;
}
#info .quarto-miniatura a img {
  width: 100%;
  height: 200px;
  display: inline;
}
#info .quarto-miniatura a h2 {
  font-size: 26px;
  margin-top: 10px;
}
#info .quarto-miniatura a:hover {
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  color: #666;
}
/*
	Smartphones and  (portrait and landscape) -----------
*/
/*
	Computers -----------
*/
