/*
	Common for all
*/
#background {
  background-image: url('/images/quartos/fundo.jpg');
}
#info p {
  font-size: 18px;
}
#info #nome {
  padding-left: 50px;
  margin-left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
#info #resumo-fotos {
  padding-left: 50px;
}
#info #resumo-fotos h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
#info #resumo-fotos p {
  margin: 0;
}
#info #resumo-fotos img {
  width: 100%;
}
#info #detalhes {
  margin-top: 20px;
  padding-right: 50px;
}
/*
	Smartphones and  (portrait and landscape) -----------
*/
/*
	Computers -----------
*/
