*, *:before, *:after {
  box-sizing: border-box;
}
#super-div {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.nav {
	display: block;
	float: none;
	li {
		font-family:Arial,sans-serif;
		letter-spacing: 0px;
    	float: none;
	}	
}
#myCarousel {
	.carousel-control.left, .carousel-control.right {
		background-image: none;
	}
}
#apresentacao {
	-webkit-box-ordinal-group: 4;
	-moz-box-ordinal-group: 4;
	-ms-flex-order: 4;
	-webkit-order: 4;
	order: 4;
	#texto {
		h1 {
			font-size: 32px;
			color: #666;
			margin-bottom: 30px;
		}
		p {
			font-size: 17px;
		}
		button {
			background-color: #444;
			span {
				color: #ddd;
			}
		}
	}
}

/*
	Smartphones and  (portrait and landscape) -----------
*/
@media all and (max-width : 1024px) {
.menu-topo-responsivo {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-order: 1;
	order: 1;
	width: 100vw;
	min-height: 100px;
	text-align: center;
	background-color: #222;
	img {
		width: 50%;
		height: auto;
		margin-top: 5vh;
		margin-bottom: 3vh;
	}
}
.menu-principal {
	-webkit-box-ordinal-group: 3;
	-moz-box-ordinal-group: 3;
	-ms-flex-order: 3;
	-webkit-order: 3;
	order: 3;
	text-align: left;
	width: 100vw;
	li {
		font-size:12px;
		display: block;
		margin-bottom: 10px;
		border-bottom: 1px solid #ddd;
		&:hover {
			color: #999;
		}
		a {
			color: black;
		}
	}
	.navbar-brand {
		display: none;
	}
}
#myCarousel {
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;
	width: 100vw;
}
.apresentacao {
	width: 100vw;
	background-color: white;
	margin-top: 40px;
}
#quadros, #eventos, .footer {
	display: none;
}
}

/*
	Computers -----------
*/
@media all and (min-width : 1025px) {
.menu-topo-responsivo {
	display: none;
}
.menu-principal {
	z-index: 1000;
	position: absolute;
	width: 100vw;
	margin-top: 30px;
	.nav {
		margin-top: 30px;
		position: relative;
		width: 98vw;
		text-align: center;
		border: 0;
		margin: 0;
		padding: 0;
		li {
			font-size:14px;
			font-weight: bold;
			display: inline-block;
			margin: 0 0.9vw 0 0;
			padding: 0;
			a {
				color: white;
				text-shadow: black 0.1em 0.1em 0.2em;
				&:hover {
					background-color: rgba(250, 250, 250, 0.3);
					border: 0;
				}
			}
		}
		.navbar-brand {
			margin-right: 0;
			a:hover {
				background-color: transparent;
			}
			img{
				height: 50px;
				width: auto;
			}
		} 
	}
}
#myCarousel {
	z-index: 10;
	background-color: black;
	overflow: hidden;
	height: 100vh;
	img {
		width: 100vw;
		height: auto;
		opacity: 0.8;
    	filter: alpha(opacity=80); /* For IE8 and earlier */
	}
}
#apresentacao {
	width: 100vw;
	padding: 0 5vw;
	#texto {
		width: 60vw;
		padding-right: 30vw;
		margin-left: 10vw;
	}
	background-color: white;
	background-image: url('/images/rocks/rock01.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50vw;
}
#quadros {
	-webkit-box-ordinal-group: 4;
	-moz-box-ordinal-group: 4;
	-ms-flex-order: 4;
	-webkit-order: 4;
	order: 4;
	margin-top: 30px;
	background: black;
	#imagem {
		float: left;
		img {
			width: 49.5vw;
			height: auto;
		}
	}
}
#eventos {
	-webkit-box-ordinal-group: 5;
	-moz-box-ordinal-group: 5;
	-ms-flex-order: 5;
	-webkit-order: 5;
	order: 5;
	margin-top: 120px;
	background: white;
	width: 100vw;
	margin-bottom: 120px;

	#evento {
		display: inline-block;
		text-align: center;
		width: 49vw;
		h2 {
			font-size: 22px;
			color: #666;
			border-bottom: 15px;
		}
		img {
			display: inline;
			max-width: 40vw;
			height: auto;
		}
		button {
			display: block;
			margin: auto;
			z-index: 1000;
			background-color: black;
			border: 0;
			position: relative;
			top: -20px;
			span {
				font-size: 14px;
				color: white;
			}
		}
	}
}

.footer {
	-webkit-box-ordinal-group: 6;
	-moz-box-ordinal-group: 6;
	-ms-flex-order: 6;
	-webkit-order: 6;
	order: 6;
	width: 100vw;
	margin: 0 auto;
	background-color: #7b89a0;
	padding-top: 60px;
	min-height: 400px;
	.row {
		padding-bottom: 40px;
		border-bottom: 1px solid #666;
	}
	.footer-sessao {
		min-height: 50%;
		h1 {
			margin-bottom: 20px;
			color: #ccc;
			margin-top: 0;
		}
	}
	#footer-qualificacoes {
		img {
			width: 80%;
			height: auto;
			display: block;
			margin: auto;
		}
	}
	#footer-navegar {
		border-left: 1px solid black;
		border-right: 1px solid black;
		padding: 0 3vw 3vw 3vw;
		.footer-navegar-col {
			padding-left: 0;
			ul {
				padding-left: 0;
				list-style: none;
				li {
					padding-bottom: 5px;
					a {
						color: inherit;
						&:hover {
							text-decoration: inherit;
							color: #666;
						}
					}
				}
			}
		}
	}
	#footer-contato {
		padding-left: 3vw;
		h1 {
			
		}
	}
}
}